<p id="notice"><%= notice %></p>

<h3>
  <strong>Content:</strong>
  <%= @task.content %>
</h3>

<h3>
  <strong>State:</strong>
  <%= @task.state %>
</h3>

<%= link_to '<h3>Edit</h3>'.html_safe, edit_task_path(@task) %> 
<%= link_to '<h3>Back</h3>'.html_safe, tasks_path %>
