<!DOCTYPE html>
<html>
  <head>
    <title>Stukdo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag bootstrap_css %>
<%= stylesheet_link_tag font_awesome_css %>
<%= javascript_include_tag bootstrap_js %>
  </head>

  <body>
<%= render "layouts/header" %>

  	<div class="container">
    <%= yield %>
    </div>
  </body>
</html>
